<?xml version="1.0" ?>
<model xmlns="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config ../environment_model_configuration.xsd">
	<name>KUKA LBR IIWA 820 Generic d6</name>
	<version>1.2.0</version>
	<thumbnail>thumbnail.png</thumbnail>
	<sdf version="1.5">model.sdf</sdf>
	<author>
		<name>Levi Armstrong.</name>
		<email>levi.armstrong@swri.org</email>
	</author>
	<author>
		<name>Benedikt Feldotto</name>
		<email>feldotto@in.tum.de</email>
	</author>
	<description>Model of a KUKA LBR IIWA 820 robot.
        Created based on: http://wiki.ros.org/kuka_lbr_iiwa_support</description>
</model>



