<?xml version="1.0"?>
<launch>
  <include file="$(find kuka_iiwa_14_prismatic_gripper_config)/launch/gazebo_controllers.launch" />

  <node name="manager_module" pkg="iba_multimodule_experiment" type="manager_module.py" respawn="false" output="screen"/>
  <node name="cerebellum" pkg="demonstrator6" type="iba_cerebellum.py" respawn="false" output="screen"/>
  <node name="reactive_component" pkg="demonstrator6" type="iba_reactive_component.py" respawn="false" output="screen"/>
  <node name="stats_component" pkg="demonstrator6" type="iba_stats_collector.py" respawn="false" output="screen"/>
</launch>
