<?xml version='1.0'?>
<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config ../robot_model_configuration.xsd">
    <name>fh_desc</name>
    <version>1.0</version>
    <license>GPL</license>
    <sdf version="1.5">model.sdf</sdf>
    <thumbnail>thumbnail.png</thumbnail>
    <author>
      <name>Ugo Cupcic</name>
      <email>software@shadowrobot.com</email>
    </author>
    <author>
        <name>Benedikt Feldotto</name>
        <email>feldotto@in.tum.de</email>
    </author>

    <description>
        Models for universal robots adapted from https://github.com/shadow-robot/smart_grasping_sandbox 
    </description>

</model>
